div {
    border: 2px solid rgba(12, 18, 3, 0.119);
    margin: 9px;
    padding: 3px;
    background-color: rgba(25, 30, 23, 0.39);
}

.digit_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px rgb(46, 46, 21);
    padding: 3px;
}

.top-holders {
    border: 4px solid #10a3496b;
}

.top-btns {
    display: flex;
    justify-content: space-evenly;
}

.digin {
    flex: 1;
}

.in {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

label {
    margin-right: 10px;
}

input {
    width: 60px; /* Adjust the width as needed */
}

button {
    margin-left: 10px;
}

.value_inputs {
    display: flex;
    flex-direction: row;
    padding: 3%;

}

.sets {
    display: flex;
}

/* flex commands for flex container */
.notes-cont {
    margin: 3vw;
    padding: 1px;
    height: 81vh;
    width: 73vw;
    display: flex;
    justify-content: center;
     /* horizontal center */
    /* align-content: center; */
    /* flex-wrap: wrap;   */
    /* overflow: auto; */
      /* overflow control */
 
    /* align-content: center; */
     /* vertical center */
}
 
/* how to apply css to all the children */
/* flex commands for flex chinldren */
.notes-cont > * {
    margin: 3px;
    padding: 3px;
    width: 80px;
    height: 80px;
    background-color: #013e37d6;
    font-size: 10px;
    align-self:flex-start;
    
}
.fl-it1 {
    height: 160px;
    align-self: flex-end;
    /* flex-grow: 0; */
    flex-shrink: 2;
    /* flex-order 
    - order the intems in the containter  */
}
.fl-it2{
    /* flex-grow: 3; */
    align-self: center;
    flex-shrink: 2;
}
.fl-it3 {
    flex-basis: 24%;
}
.fl-it6 {
    /* flex-grow: 7; */
    flex-shrink: 2;
}
.fl-it7 {
    /* flex-grow: 0; */
    /* align-self: center; */
    /* height: 60vh; */
}
.notes-section {
    display: flex;

}
.notes-heading {
    background-color: rgba(250, 235, 215, 0.242);
}

.test-cont1 {
    background-color: rgb(94, 78, 57);
    width: 120px;

}
.test-main {
    display: flex;
    font-size: smaller;
}
.test-main > * {
    display: block;

}
.main-notes {
    display: flex;
}